<!-- Include head partial here -->
<%- include('../partials/head') %>

<body>
  <!-- Include header partial here -->
  <%- include('../partials/header') %>
  <nav>
    <a href="/breeds">Breeds</a>
    <a href="/facts">Facts</a>
  </nav>
  <h1>All Breeds</h1>

  <!-- Display all breeds as separate <div> elements with clickable URLs -->
  <% breeds.forEach((breed) => { %>
    <div class="breed-container">
      <h2><%= breed.breed %></h2>
      <img class="breed-image" src="<%= breed.image %>" alt="<%= breed.breed %> Image">
      <p>
        <!-- Create a clickable URL that loads the detail elements for that breed -->
        <a href="/breed/<%= breed._id %>">View Details</a>
      </p>
    </div>
  <% }); %>

  <!-- Include foot and footer partials here -->
  <%- include('../partials/foot') %>
  <%- include('../partials/footer') %>
</body>

</html>
