<!-- Include head partial here -->
<%- include('../partials/head') %>

<body>
  <!-- Include header partial here -->
  <%- include('../partials/header') %>
  <nav>
    <a href="/breeds">Breeds</a>
    <a href="/facts">Facts</a>
  </nav>
  <h1>All Facts</h1>

  <!-- Display all facts as an unordered list -->
  <ul>
    <% facts.forEach((fact) => { %>
      <li>
        <!-- Create a clickable URL that loads the detail elements for that fact -->
        <a href="/facts/<%= fact._id %>"><%= fact.fact %></a>
      </li>
    <% }); %>
  </ul>

  <!-- Include foot and footer partials here -->
  <%- include('../partials/foot') %>
  <%- include('../partials/footer') %>
</body>

</html>
